


<%- include('./partials/boots') %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<%- include('./findform') %>


<!DOCTYPE html>
<html lang="en">
  

  <body style="background-color: black;">
  
  <center>
  <h6>
    <div  class="card" style="width: 18rem;display: inline-block;">
    <b><p style="color: red;">Total Infected Countries :<br> <%= countOfCountry %></p></b>
    </div>
    <div  class="card" style="width: 18rem;display: inline-block;">
    <p style="color:orange">Cases World Wide :<br> <%=world.cases %> (<%=world.todayCases %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
  </div>
  <div  class="card" style="width: 18rem;display: inline-block;">
    <p style="color: red;">Deaths World Wide :<br> <%=world.deaths %> (<%=world.todayDeaths %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
  </div>
  <div  class="card" style="width: 18rem;display: inline-block;">
    <p style="color: green;">Recovered World Wide :<br> <%=world.recovered %> (<%=world.todayRecovered %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
  </div>
  </h6>
</center>
<% if(JSON.stringify(aray)!='{}')  %>
<%{ %>
     
<center>
  <div  class="card" style="width: 18rem;display: inline-block;">
        <p style="color:green;">Total tests done in <%= aray.country %> : <br> <%= aray.tests %></p>
          
      
    </div>
    <div  class="card" style="width: 18rem; display: inline-block;">
     
        <p style="color: red;">Active Cases in <%= aray.country %> :<br> <%= aray.active %></p>
        </div>
       
        <div  class="card" style="width: 18rem;display: inline-block;">
          
        <p style="color: red;">Critical Cases in  <%= aray.country %>: <br> <%= aray.critical %></p>
            </div>
          </center>      
    <br>
    <section style="background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);">
    <center>
      
        <div  class="card" style="width: 24rem;">
          
    <button type="button" class="btn btn-info">Country : <span class="badge badge-light"><%= aray.country %></span>
    <br>
    Continent : <span class="badge badge-light"><%= aray.continent %></span>
    <br>
    Population : <span class="badge badge-light"><%=aray.population %></span>
    </button><br>
    <br><img src=<%=aray.countryInfo.flag %> class="img-fluid" alt="Responsive image"><br>
    <br><button type="button" class="btn btn-danger">
            Total Number Of Cases= <span class="badge badge-light"><%=aray.cases %></span>
            <br>
            Cases Of Today=<span class="badge badge-light"> <%=aray.todayCases %><i class="fa fa-arrow-up" aria-hidden="true"></i> </span>
        </button>
      <br><br>

      <button type="button" class="btn btn-success">
        Total Number Of People Recovered= <span class="badge badge-light"><%=aray.recovered %></span><br>
        People Recovered Today=<span class="badge badge-light" ><%=aray.todayRecovered%><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
  </button><br><br>
  <button type="button" class="btn btn-dark">
        Total Number Of Deaths= <span class="badge badge-light"><%=aray.deaths %></span><br>
        Number of deaths today=<span class="badge badge-light"><%=aray.todayDeaths %><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
  </button><br><br>
</div>
   </center>
  </section>
   

   
<% } %>
<br>

<div  >
  <canvas  id="myChart" width="200" height="300">
    
   </canvas>
   

  </div>

  
  <br>
  <br>
    

<h2 style="color:blue ;">Statewise Covid-19 Data Of India</h2> 
<div  class="card" >
<% if(StateData.length>0){ %>
  
 <div class="table-responsive-sm">
             
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: yellow;">
        <th>State</th>
        <th>Total Cases</th>
        <th>Confirmed Foriegn Cases</th>
        <th>Confirmed Indian Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>

    <% StateData.forEach(function(data){ %>

      <tbody>
        <tr >
          
          <td><b><p style="color: rgb(126, 24, 87);"><%=data.loc %></p></b></td>
          <td><b><p style="color: rgb(146, 11, 22);"><%=data.totalConfirmed %></b></p></td>
          <td><p style="color: rgb(83, 42, 42);"><%=data.confirmedCasesForeign %></p></td>
          <td><p style="color: rgb(105, 9, 9);"><%=data.confirmedCasesIndian %></p></td>
          <td><b><p style="color: rgb(23, 134, 23);"><%=data.discharged %></p></b></td>
          <td style="color: rgb(248, 7, 7);"><b><%=data.deaths %></b></td>
          
        </tr>
      </tbody>
    
    
    <% }) %>


    </table>

  </div>

 <% } %>
</div>
<br>
<hr>
<br>
<div >
  <center><h4 style="color: aqua;">Statewise Cases:Diagrammatic Representation</h4></center>
  <canvas  id="myChartStateCase" width="200" height="300">
  
  </canvas>
  <br>
  <center><h4 style="color: red;">Statewise Deaths:Diagrammatic Representation</h4></center>
  <canvas  id="myChartStateDeath" width="200" height="300">
  
  </canvas>
  <br>
  <center><h4 style="color:green;">Statewise Recovery:Diagrammatic Representation</h4></center>
  <canvas  id="myChartStateRecover" width="200" height="300">
  
  </canvas>

</div>
<script>
  
  
  var ctx = document.getElementById('myChart').getContext("2d");
     var X_axis=JSON.parse('<%-JSON.stringify(graphs)%>').X_axis;
     var Y_axis=JSON.parse('<%-JSON.stringify(graphs)%>').Y_axis;
     var Ydeaths=JSON.parse('<%-JSON.stringify(graphs)%>').Y_Deaths;
     var Y_Recover=JSON.parse('<%-JSON.stringify(graphs)%>').Y_Recover;
     new Chart(ctx,{
         type:'line',
         data:{
         labels: X_axis,
         datasets: [{
           label: "Timeline of covid-19: CASES VS DATE",
           data: Y_axis,
           
          borderColor:'orange',
          borderWidth: 1.5
  
         },
         {        
                  label: 'Timeline of DEATHS VS DATES',
                  data: Ydeaths,
                  
                  borderColor:'rgb(255,0,0,1)',
                  borderWidth: 1.5
              },
              {        
                  label: 'Timeline of   RECOVERED VS DATES',
                  data: Y_Recover,
                  
                  borderColor:'rgb(0,128,0,1)',
                  borderWidth: 1.5
              }
  
              
            ]
       },
         options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
     });
    
     var StateName=JSON.parse('<%-JSON.stringify(StateWiseStat) %>').StateName;
     var StateCase=JSON.parse('<%-JSON.stringify(StateWiseStat) %>').StateCase;
     var StateRecover=JSON.parse('<%-JSON.stringify(StateWiseStat) %>').StateRecover;
     var StateDeath=JSON.parse('<%-JSON.stringify(StateWiseStat) %>').StateDeath;
    var ctx1 = document.getElementById("myChartStateCase");
    new Chart(ctx1, {
        type: 'pie',
        data: {
            datasets: [{
                label: 'STATE TOTAL CASE ANALYSIS',
                data: StateCase,
                backgroundColor: [
                    'red',//1
                    'orange',//2
                    'yellow',//3
                    'green',//4
                    'blue',//5
                    '#0048BA',//6
                    '#B0BF1A',//7
                    '#7CB9E8',//8
                    '#B284BE',//9
                    '#72A0C1',//10
                    '#EDEAE0',//11
                    '#C46210',//12
                    '#E52B50',//13
                    '#9F2B68',//14
                    '#F19CBB',//15
                    '#3B7A57',//16
                    '#FF7E00',//17
                    '#A4C639', //18
                    '#665D1E',//19
                    '#915C83',//20
                    '#841B2D',//21
                    '#FAEBD7',//22
                    '#008000',//23
                    '#FBCEB1',//24
                    '#00FFFF',//25
                    '#D0FF14',//26
                    '#8F9779',//27
                    '#A52A2A',//28
                    '#F0FFFF',//29
                    '#89CFF0',//30
                    '#DA1884',//31
                    '#BCD4E6',//32
                    '#54626F',//33
                    '#660000',//34
                    '#CC5500'
                ],
            }],
            labels: StateName
            },
            options: {
                    responsive: true
            }
        });
        var ctx2 = document.getElementById("myChartStateDeath");
    new Chart(ctx2, {
        type: 'pie',
        data: {
            datasets: [{
                label: 'STATE TOTAL Death ANALYSIS',
                data: StateDeath,
                backgroundColor: [
                    'red',//1
                    'orange',//2
                    'yellow',//3
                    'green',//4
                    'blue',//5
                    '#0048BA',//6
                    '#B0BF1A',//7
                    '#7CB9E8',//8
                    '#B284BE',//9
                    '#72A0C1',//10
                    '#EDEAE0',//11
                    '#C46210',//12
                    '#E52B50',//13
                    '#9F2B68',//14
                    '#F19CBB',//15
                    '#3B7A57',//16
                    '#FF7E00',//17
                    '#A4C639', //18
                    '#665D1E',//19
                    '#915C83',//20
                    '#841B2D',//21
                    '#FAEBD7',//22
                    '#008000',//23
                    '#FBCEB1',//24
                    '#00FFFF',//25
                    '#D0FF14',//26
                    '#8F9779',//27
                    '#A52A2A',//28
                    '#F0FFFF',//29
                    '#89CFF0',//30
                    '#DA1884',//31
                    '#BCD4E6',//32
                    '#54626F',//33
                    '#660000',//34
                    '#CC5500'
                ],
            }],
            labels: StateName
            },
            options: {
                    responsive: true
            }
        });

        var ctx3 = document.getElementById("myChartStateRecover");
    new Chart(ctx3, {
        type: 'pie',
        data: {
            datasets: [{
                label: 'STATE TOTAL RECOVERY/DISCHARGED ANALYSIS',
                data: StateRecover,
                backgroundColor: [
                    'red',//1
                    'orange',//2
                    'yellow',//3
                    'green',//4
                    'blue',//5
                    '#0048BA',//6
                    '#B0BF1A',//7
                    '#7CB9E8',//8
                    '#B284BE',//9
                    '#72A0C1',//10
                    '#EDEAE0',//11
                    '#C46210',//12
                    '#E52B50',//13
                    '#9F2B68',//14
                    '#F19CBB',//15
                    '#3B7A57',//16
                    '#FF7E00',//17
                    '#A4C639', //18
                    '#665D1E',//19
                    '#915C83',//20
                    '#841B2D',//21
                    '#FAEBD7',//22
                    '#008000',//23
                    '#FBCEB1',//24
                    '#00FFFF',//25
                    '#D0FF14',//26
                    '#8F9779',//27
                    '#A52A2A',//28
                    '#F0FFFF',//29
                    '#89CFF0',//30
                    '#DA1884',//31
                    '#BCD4E6',//32
                    '#54626F',//33
                    '#660000',//34
                    '#CC5500'
                ],
            }],
            labels: StateName
            },
            options: {
                    responsive: true
            }
        });
      
    
      
    </script>
  </body>
</html>

<%-include('./footer') %>