


<%- include('./partials/boots') %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<%- include('./findform') %>


<!DOCTYPE html>
<html lang="en">
  

  <body style="background-color: black;">
  <h5 style="color: red;">Total Infected Countries: <%= countOfCountry %></h5><br>
  
  <h6>
    <p style="color:orange">Cases World Wide : <%=world.cases %> (<%=world.todayCases %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
    <br><p style="color: red;">Deaths World Wide : <%=world.deaths %> (<%=world.todayDeaths %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
    <br><p style="color: green;">Recovered World Wide : <%=world.recovered %> (<%=world.todayRecovered %><i class="fa fa-arrow-up" aria-hidden="true"></i>)</p>
  </h6>
<% if(JSON.stringify(aray)!='{}')  %>
<%{ %>
     
<center>
  <div  class="card" style="width: 18rem;display: inline-block;">
        <p style="color:green;">Total tests done : <%= aray.tests %></p>
          
      
    </div>
    <div  class="card" style="width: 18rem; display: inline-block;">
     
        <p style="color: red;">Active Cases : <%= aray.active %></p>
        </div>
       
        <div  class="card" style="width: 18rem;display: inline-block;">
          
        <p style="color: red;">Critical Cases: <%= aray.critical %></p>
            </div>
          </center>      
    <br>
    <center>
      
        <div  class="card" style="width: 24rem;">
          
    <button type="button" class="btn btn-info">Country : <span class="badge badge-light"><%= aray.country %></span>
    <br>
    Continent : <span class="badge badge-light"><%= aray.continent %></span>
    <br>
    Population : <span class="badge badge-light"><%=aray.population %></span>
    </button><br>
    <br><img src=<%=aray.countryInfo.flag %> class="img-fluid" alt="Responsive image"><br>
    <br><button type="button" class="btn btn-danger">
            Total Number Of Cases= <span class="badge badge-light"><%=aray.cases %></span>
            <br>
            Cases Of Today=<span class="badge badge-light"> <%=aray.todayCases %><i class="fa fa-arrow-up" aria-hidden="true"></i> </span>
        </button>
      <br><br>

      <button type="button" class="btn btn-success">
        Total Number Of People Recovered= <span class="badge badge-light"><%=aray.recovered %></span><br>
        People Recovered Today=<span class="badge badge-light" ><%=aray.todayRecovered%><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
  </button><br><br>
  <button type="button" class="btn btn-dark">
        Total Number Of Deaths= <span class="badge badge-light"><%=aray.deaths %></span><br>
        Number of deaths today=<span class="badge badge-light"><%=aray.todayDeaths %><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
  </button><br><br>
</div>
   </center>

   

   
<% } %>

<div  >
  <canvas  id="myChart" width="200" height="300">
    
   </canvas>
   

  </div>
  <br>
  <br>
    
<script>
  
  
var ctx = document.getElementById('myChart').getContext("2d");
   var X_axis=JSON.parse('<%-JSON.stringify(graphs)%>').X_axis;
   var Y_axis=JSON.parse('<%-JSON.stringify(graphs)%>').Y_axis;
   var Ydeaths=JSON.parse('<%-JSON.stringify(graphs)%>').Y_Deaths;
   var Y_Recover=JSON.parse('<%-JSON.stringify(graphs)%>').Y_Recover;
   new Chart(ctx,{
       type:'line',
       data:{
       labels: X_axis,
       datasets: [{
         label: "Timeline of covid-19: CASES VS DATE",
         data: Y_axis,
         
        borderColor:'orange',
        borderWidth: 1.5

       },
       {        
                label: 'Timeline of DEATHS VS DATES',
                data: Ydeaths,
                
                borderColor:'rgb(255,0,0,1)',
                borderWidth: 1.5
            },
            {        
                label: 'Timeline of   RECOVERED VS DATES',
                data: Y_Recover,
                
                borderColor:'rgb(0,128,0,1)',
                borderWidth: 1.5
            }

            
          ]
     },
       options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
   });
    
  
    
  </script>
<h2 style="color:blue ;">Statewise Covid-19 Data Of India</h2> 
<div  class="card" >
<% if(StateData.length>0){ %>
  
 <div class="table-responsive-sm">
             
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: yellow;">
        <th>State</th>
        <th>Total Cases</th>
        <th>Confirmed Foriegn Cases</th>
        <th>Confirmed Indian Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>

    <% StateData.forEach(function(data){ %>

      <tbody>
        <tr >
          
          <td><b><p style="color: rgb(126, 24, 87);"><%=data.loc %></p></b></td>
          <td><b><p style="color: rgb(146, 11, 22);"><%=data.totalConfirmed %></b></p></td>
          <td><p style="color: rgb(83, 42, 42);"><%=data.confirmedCasesForeign %></p></td>
          <td><p style="color: rgb(105, 9, 9);"><%=data.confirmedCasesIndian %></p></td>
          <td><b><p style="color: rgb(23, 134, 23);"><%=data.discharged %></p></b></td>
          <td style="color: rgb(248, 7, 7);"><b><%=data.deaths %></b></td>
          
        </tr>
      </tbody>
    
    
    <% }) %>


    </table>

  </div>

 <% } %>
</div>
  </body>
</html>

<%-include('./footer') %>